{cover_enabled, true}.

{erl_opts, [{platform_define, "R1[6-9]B", 'binary_integer_bifs'}]}.
{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{deps, [
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {hackney, "1.16.0"}
]}.

{eunit_opts, [
  {skip_deps, true},
  {report, {eunit_surefire, [{dir, "."}]}}
]}.

{cover_enabled, true}.
{ct_log_dir, "test/logs"}.
{clean_files, ["test/logs", "test/*.beam"]}.
